footer{
  background-color: var(--bg1);
}

.footer-top .clover-container,
.footer-bottom .clover-container{
  max-width: 126.8rem;
  padding: 0rem 4.9rem;
}

.footer-top nav{
  display: flex;
  gap: 8.1rem;
  padding-top: 5.9rem;
  padding-bottom:5.9rem;
  border-bottom: 1px solid var(--line);
}

.footer-top p{
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.footer-top ul{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.footer-top ul li a{
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.footer-bottom{
  padding-top: 4.3rem;
  padding-bottom: 7.8rem;
}

.footer-bottom .clover-container{
  display: flex;
  gap: 6.8rem;
}

.terms-privacy{
  display: flex;
  gap: 4.7rem;
}

.footer-bottom .clover-container p,
.footer-bottom .clover-container a{
  font-size: 1.2rem;
  line-height: 2.4rem;
}