header{
  position: relative;
  z-index: 100;
}

.header{
  border-bottom: 1px solid var(--line2);
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 23.1rem;
  grid-template-rows: 7.3rem 6.6rem;
  grid-template-areas: "logo telephone"
                        "nav login";
  align-items: center;
}

.logo,
.phone,
.menu,
.login{
  height: 100%;
  display: flex;
  align-items: center;
}

.logo{
  grid-area: logo;
  padding-left: 4.9rem;
  background-color: var(--bg1);
  /* border: 1px solid red; */
  width: 100%;
  max-width: 277.9rem;
}

.logo a{
  width: 100%;
  max-width: 22.9rem;
  height: 2.8rem;
  background: url('../assets/svg/logo.svg') no-repeat;
  background-size: cover;
  display: inline-block;
}

.phone{
  background-color: var(--bg1);
  grid-area: telephone;
  /* border: 1px solid blue; */
  width: 100%;
  max-width: 6.92rem;
  margin-left: auto;
}

.phone a{
  margin-left: auto;
  padding-right: 4.9rem;
}

.phone a img{
  max-width: 2.02rem;
}

.login{
  grid-area: login;
  width: 100%;
  max-width: 23.1rem;
}

.login button.btn2{
  width: 100%;
  height: 100%;
}


/*** MENU NAV ***/
nav.menu{
  grid-area: nav;
  padding-left: 4.9rem;
  padding-right: 1.6rem;
  /* border: 1px solid green; */
  width: 100%;
  max-width: 72rem;
  /* border-bottom: 1px solid var(--line2); */
}

nav.menu ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  gap: 2rem;
}

nav.menu ul li{
  padding-top: 1rem;
}


nav.menu ul li a{
  font-weight: 400;
  display: flex;
  gap: 1.2rem;
  font-size: 1.3rem;
}


/**** HEADER ACTIVE ****/
.header.active{
  grid-template-columns: 27.8rem 1fr 23.1rem;
  grid-template-rows: 7.3rem;
  grid-template-areas: "logo nav login";
}

.header.active .logo{
  background-color: var(--white);
  /* border: 1px solid red; */
}

.header.active .phone{
  display: none;
}

.header.active nav.menu{
  padding-left: 3.8rem;
}




/**** DROPDOWN ****/
.menu-dropdown1,
.menu-dropdown2{
  background-color: var(--white);
  position: fixed;
  top: 14rem;
  width: 100%;

  opacity: 0;
  pointer-events: none;
  transition: all .2s;
}

.menu-dropdown1 .clover-container,
.menu-dropdown2 .clover-container{
  max-width: 100%;
  padding: 4.7rem 4.9rem 6.1rem;
}

.top-dropdown_menu1,
.top-dropdown_menu2,
.menu-dropdown1 nav,
.menu-dropdown2 nav{
  display: flex;
  gap: 4.5rem;
}


.dropdown-txt{
  width: 100%;
  max-width: 25.1rem;
}

.dropdown-txt h3{
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 2.1rem;
}

.menu-dropdown1 nav ul,
.menu-dropdown2 nav ul{
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}

.menu-dropdown1 nav ul li a,
.menu-dropdown2 nav ul li a{
  font-size: 2.4rem;
  /* line-height: 3rem; */
  color: var(--black);
}

.menu-dropdown1.active,
.menu-dropdown2.active,
.header.active .menu-dropdown1.active{
  opacity: 1;
  pointer-events: all;
}


/********* RESPONSIVE *************/
@media (max-width: 1100px){
  .header{
    grid-template-columns: 28rem 1fr 12.2rem;
    grid-template-rows: 5.5rem 5.5rem;
    grid-template-areas: "logo telephone login"
                          "nav nav nav";
  }

  .phone{
    max-width: 100%;
  }

  .phone a{
    padding-right: 2.5rem;
  }

  nav.menu{
    max-width: 100%;
  }

  nav.menu ul{
    justify-content: start;
    gap: 4rem;
  }

  nav.menu ul li:first-child{
    display: none;
  }
}

@media (max-width: 950px){
  /* .header{
    grid-template-columns: 26rem 1fr 12.2rem;
    grid-template-rows: 5.5rem 5.5rem;
    grid-template-areas: "logo telephone login"
                          "nav nav nav";
  } */

  .logo{
    padding-left: 1.6rem;
  }

  nav.menu{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .menu-dropdown1 .clover-container,
  .menu-dropdown2 .clover-container{
    max-width: 100%;
    padding: 4.7rem 1.6rem 6.1rem;
  }
}

@media (max-width: 850px){
  .menu-dropdown1,
  .menu-dropdown2{
    height: 100%;
  }

  .top-dropdown_menu1,
  .top-dropdown_menu2,
  .menu-dropdown1 nav,
  .menu-dropdown2 nav{
    flex-direction: column;
    gap: 0rem;
  }

  .dropdown-txt{
    margin-bottom: 4rem;
  }

  .top-dropdown_menu_col1{
    margin-bottom: 3.1rem;
  }

  .menu-dropdown1 nav ul,
  .menu-dropdown2 nav ul{
    gap: 3.1rem;
  }

  .dropdown-txt h3,
  .menu-dropdown1 nav ul li a,
  .menu-dropdown2 nav ul li a{
    font-size: 1.8rem;
  }
}


/***************/
@media (max-width: 720px){
  nav.menu ul li a{
    font-size: 1.05rem;
  }
}

/***************/
@media (max-width: 500px){
  .header{
    grid-template-columns: 25rem 1fr 9.2rem;
  }

  .phone a{
    padding-right: 1.6rem;
  }

  .login{
    width: 100%;
    max-width: 9.2rem;
    margin-left: auto;
  }

  nav.menu ul{
    width: 100%;
    justify-content: space-between;
    gap: 0.9rem;
  }

  nav.menu ul li a img{
    display: none;
  }
}

/***************/
@media (max-width: 412px){
  .header{
    grid-template-columns: 25rem 1fr 8.5rem;
  }
}