header{
  /* border-bottom: 1px solid #EFEFEF;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 23.1rem;
  grid-template-rows: 7.3rem 6.6rem;
  grid-template-areas: "logo telephone"
                        "nav login";
  align-items: center; */
  /* margin-left: 4.9rem; */
  position: relative;
}

.header{
  border-bottom: 1px solid var(--line2);
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 23.1rem;
  grid-template-rows: 7.3rem 6.6rem;
  grid-template-areas: "logo telephone"
                        "nav login";
  align-items: center;
}

.logo,
.phone,
.menu,
.login{
  height: 100%;
  display: flex;
  align-items: center;
}

.logo{
  grid-area: logo;
  padding-left: 4.9rem;
  background-color: var(--bg1);
}

.logo a{
  width: 100%;
  max-width: 22.9rem;
  height: 2.8rem;
  background: url('../assets/svg/logo.svg') no-repeat;
  background-size: cover;
  display: inline-block;
}

.phone{
  background-color: var(--bg1);
  grid-area: telephone;
}

.phone a{
  margin-left: auto;
  padding-right: 4.9rem;
}

.login{
  grid-area: login;
  /* border-bottom: 1px solid var(--line2); */
}

.login button.btn2{
  width: 100%;
  height: 100%;
}


/*** MENU NAV ***/
nav.menu{
  grid-area: nav;
  padding-left: 4.9rem;
  border-bottom: 1px solid var(--line2);
  /* border: 1px solid blue; */
}

nav.menu ul{
  display: flex;
  gap: 5.7rem;
}

nav.menu ul li a{
  font-weight: 400;
  display: flex;
  gap: 1.2rem;
}

nav.menu ul li a img{
  padding-bottom: 0.5rem;
}


/**** HEADER ACTIVE ****/
.header.active{
  grid-template-columns: 27.8rem 1fr 23.1rem;
  grid-template-rows: 7.3rem;
  grid-template-areas: "logo nav login";
}

.header.active .logo{
  background-color: var(--white);
  /* border: 1px solid red; */
}

.header.active .phone{
  display: none;
}




/**** DROPDOWN ****/
.menu-dropdown1,
.menu-dropdown2{
  background-color: var(--white);
  position: fixed;
  top: 14rem;
  width: 100%;

  opacity: 0;
  pointer-events: none;
  transition: all .2s;
}

.menu-dropdown1 .container,
.menu-dropdown2 .container{
  max-width: 100%;
  padding: 4.7rem 4.9rem 6.1rem;
}


.dropdown-txt{
  width: 100%;
  max-width: 25.1rem;
}

.dropdown-txt h3{
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 2.1rem;
}

.menu-dropdown1 nav,
.menu-dropdown2 nav{
  display: flex;
  gap: 4.5rem;
}
.menu-dropdown1 nav ul,
.menu-dropdown2 nav ul{
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}

.menu-dropdown1 nav ul li a,
.menu-dropdown2 nav ul li a{
  font-size: 2.4rem;
  line-height: 3rem;
  color: var(--black);
}

/* MENU USING CLOVERSECURITY.COM */
.top-dropdown_menu1{
  display: flex;
  gap: 4.5rem;
}

/* MENU UNDERSTANDING DATA SECURITY */
.top-dropdown_menu2{
  display: flex;
  gap: 4.5rem; 
}


.menu-dropdown1.active,
.menu-dropdown2.active,
.header.active .menu-dropdown1.active{
  opacity: 1;
  pointer-events: all;
}