header{
  position: relative;
  width: 100%;
  border: 1px solid blue;
}

.header{
  border-bottom: 1px solid var(--line2);
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 23.1rem;
  grid-template-rows: 7.3rem 6.6rem;
  grid-template-areas: "logo telephone"
                        "nav login";
  align-items: center;
}

.logo,
.phone,
.menu,
.login{
  height: 100%;
  display: flex;
  align-items: center;
}

.logo{
  grid-area: logo;
  padding-left: 4.9rem;
  background-color: var(--bg1);
  border: 1px solid red
}

.logo a{
  width: 100%;
  max-width: 22.9rem;
  height: 2.8rem;
  background: url('../assets/svg/logo.svg') no-repeat;
  background-size: cover;
  display: inline-block;
}

.phone{
  background-color: var(--bg1);
  grid-area: telephone;
}

.phone a{
  margin-left: auto;
  padding-right: 4.9rem;
}

.login{
  grid-area: login;
  /* border-bottom: 1px solid var(--line2); */
}

.login button.btn2{
  width: 100%;
  height: 100%;
}


/*** MENU NAV ***/
nav.menu{
  grid-area: nav;
  padding-left: 4.9rem;
  padding-right: 1.6rem;
  border-bottom: 1px solid var(--line2);
}

nav.menu ul{
  display: flex;
  gap: 5.7rem;
  align-items: center;
}

nav.menu ul li a{
  font-weight: 400;
  display: flex;
  gap: 1.2rem;
  font-size: 1.3rem;
  position: relative;
}

nav.menu ul li a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--green);
  bottom: -2.6rem;
  transition: .3s;
}

nav.menu ul li a:hover::after{
  width: 100%;
}


/**** HEADER ACTIVE ****/
.header.active{
  grid-template-columns: 27.8rem 1fr 23.1rem;
  grid-template-rows: 7.3rem;
  grid-template-areas: "logo nav login";
}

.header.active .logo{
  background-color: var(--white);
  /* border: 1px solid red; */
}

.header.active .phone{
  display: none;
}




/**** DROPDOWN ****/
.menu-dropdown{
  /* background-color: var(--white); */
  background-color: lightgray;
  position: fixed;
  top: 14rem;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
  transition: all .2s;
}

.menu-dropdown .container{
  width: 100%;
  padding: 0;
  margin: 0;
}

.dropdown-txt{
  width: 100%;
  max-width: 25.1rem;
}

.dropdown-txt h3{
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 2.1rem;
}

.menu-dropdown nav{
  display: flex;
  gap: 4.5rem;
}
.menu-dropdown nav ul{
  display: flex;
  flex-direction: column;
  gap: 2.9rem;
}

.menu-dropdown nav ul li a{
  font-size: 2.4rem;
  line-height: 3rem;
  color: var(--black);
}

/* DROPDOWN CONTENT */
.top-dropdown_menu{
  display: flex;
  gap: 4.5rem;
  max-width: 106.5rem;
  padding: 4.7rem 4.9rem 6.1rem;
}


.menu-dropdown.active{
  opacity: 1;
  pointer-events: all;
}


/********* RESPONSIVE *************/
@media (max-width: 1150px){
  .header.active{
    grid-template-columns: 28rem 1fr 15rem;
  }

  nav.menu{
    padding-left: 2rem;
  }
}

@media (max-width: 950px){
  /* MOBILE HEADER LAYOUT */
  .header{
    grid-template-columns: 26rem 1fr 12.2rem;
    grid-template-rows: 5.5rem 5.5rem;
    grid-template-areas: "logo telephone login"
                          "nav nav nav";
  }

  .logo{
    padding-left: 1.6rem;
  }

  nav.menu{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  /* DROPDOWN */
  .menu-dropdown{
    bottom: 0;
    top: 11.1rem;
    gap: 4rem;
  }

  .top-dropdown_menu{
    flex-direction: column;
    padding: 4rem 1.6rem 1.6rem 1.6rem;
  }

  .menu-dropdown nav{
    flex-direction: column;
    gap: 3.1rem;
  }
  .menu-dropdown nav ul{
    gap: 3.1rem;
  }

  .dropdown-txt{
    max-width: 32.7rem;
  }

  nav.menu ul li a::after{
    bottom: -2rem;
  }
}


/***************/
@media (max-width: 720px){
  nav.menu ul li:first-child{
    display: none;
  }

  nav.menu ul li a{
    font-size: 1.05rem;
  }
}

/***************/
@media (max-width: 500px){
  .header{
    grid-template-columns: 25rem 1fr 9.2rem;
  }

  .phone a{
    padding-right: 1.6rem;
  }

  .login{
    width: 100%;
    max-width: 9.2rem;
    margin-left: auto;
  }

  nav.menu{
    border: 1px solid blue;
  }

  nav.menu ul{
    width: 100%;
    max-width: 32.7rem;
    justify-content: space-between;
    gap: 0.9rem;
  }

  nav.menu ul li a img{
    display: none;
  }
}

/***************/
@media (max-width: 412px){
  .header{
    grid-template-columns: 25rem 1fr 8.5rem;
  }

  nav.menu{
    width: 100%;
    max-width: 34.1rem;
  }

  /* DROPDOWN */
  .dropdown-txt h3{
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
  }

  .menu-dropdown nav ul li a{
    font-size: 1.8rem;
  }
}