/********** VARIABLES ***********/
:root{
  --white: #fff;
  --black: #000;
  --green: #228800;

  --bg1: #FBFBFB;
  --bg2: #EEFFEE;
  --bg-article: #F0F0F0;
  --bg-hero: #2288000D;

  --line: #E5E5E5;
  --line2: #EFEFEF;

  --font-title-hero: #226600;
  --font-inactive: #BFBFBF;

  --btn-border: #CCCCCC;
}

body,
html{
  width: 100%;
  height: 100%;
}

body.js-prevent-scroll{
  overflow: hidden;
  position: fixed;
}

a{
  color: black;
  text-decoration: none;
}

.clover-container{
  width: 100%;
  max-width: 119rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.menu{
  font-size: 1.3rem;
  line-height: 1.7rem;
  text-transform: uppercase;
}

.tab-name{
  color: var(--black);
  text-transform: uppercase;
}

/****** BUTTONS *******/
.btn1{
  text-transform: uppercase;
  background-color: var(--white);
  border: 1px solid var(--btn-border);
}

.btn1 a{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3.8rem;
}

.btn2{
  background-color: var(--green);
  border: none;
  
}

.btn2 a{
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
}


/***** LINKS ******/
.link{
  color: var(--green);
  font-weight: 500;
  text-decoration: underline;
  line-height: 2.6rem;
}
