/********** VARIABLES ***********/
:root{
  --white: #fff;
  --black: #000;
  --green: #228800;
  --gray: #767676;

  --bg1: #FBFBFB;
  --bg2: #EEFFEE;
  --bg-article: #F0F0F0;
  --bg-hero: #2288000D;

  --line: #E5E5E5;
  --line2: #EFEFEF;

  --font-title-hero: #226600;
  --font-inactive: #BFBFBF;
  --link-hover: #276A16;

  --btn-border: #CCCCCC;
  --btn-hover-bg: #276A16;
}

/* LAYOUT */
main{
  margin-top: 14rem;
  position: relative;
}

.clover-container{
  width: 100%;
  max-width: 119rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/* PATTERNS */

.menu{
  font-size: 1.3rem;
  line-height: 1.7rem;
  /* text-transform: uppercase; */
}

.tab-name{
  color: var(--black);
  text-transform: uppercase;
}

.home_txt2 h1{
  font-size: 3.8rem;
  margin-bottom: 2rem;
}

.home-txt2_p{
  margin-bottom: 4rem;
}

/****** BUTTONS *******/
.btn1{
  text-transform: uppercase;
  background-color: var(--white);
  border: 1px solid var(--btn-border);
  padding: 0 3.2rem;
  transition: .2s;
  cursor: pointer;
}

.btn1 a{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 5.3rem;
}

.btn1:hover{
  border-color: var(--black);
}

/* .btn1:hover a{
  color: var(--black);
} */

.btn2{
  background-color: var(--green);
  border: none;
  transition: background-color .3s;
}

.btn2:hover{
  background-color: var(--btn-hover-bg);
}

.btn2 a{
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;
}


/***** LINKS ******/
a:hover{
  color: var(--black);
}

.link{
  color: var(--green);
  font-weight: 500;
  text-decoration: underline;
  line-height: 2.6rem;
}

.link:hover{
  color: var(--link-hover);
  transition: .3s;
}

a{
  color: var(--black);
  text-decoration: none;
}

/* KEYFRAMES */
@keyframes slides{
  from{
    transform: translateY(20px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
