/* ========== UNDERSTAND || HERO =========== */
.s-hero-understanding{
  background: url(../assets/svg/black-gradient.svg),
              url(../assets/svg/green-gradient.svg),
              url(../assets/understanding-page-img/hero-understanding.png);
  background-size: cover;
  background-position: 0% 100%, 0% 100%, 61% 0%;
}

.s-hero-understanding_txt{
  padding: 8.5rem 0rem;
  width: 100%;
  max-width: 52rem;
}

.s-hero-understanding_txt h1{
  color: var(--white);
}

.s-hero-understanding_txt p{
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 2.6rem;
}

/* ========== UNDERSTANDING || WHAT IS DATA SECURITY======= */
.s-understand-security{
  padding-top: 11.9rem;
}

.s-understand-security .clover-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.s-understand-security_txt{
  width: 100%;
  max-width: 51.8rem;
  padding-top: 6.5rem;
  padding-bottom: 4.4rem;
}

.s-understand-security_txt_content:not(:last-child){
  margin-bottom: 3.3rem;
}

.s-understand-security_txt_content p{
  margin-top: 1.3rem;
  font-weight: 300;
}

.s-understand-security_img{
  background: url(../assets/understanding-page-img/cashier.png) no-repeat;
  background-size: cover;
  background-position: 18% 100%;
  width: 100%;
  max-width: 54.9rem;
  min-height: 40.8rem;
}


/* ======= UNDERSTANDING || BOX OF CONTENTS ======= */
.s-understand_boxes{
  border: 1px solid red;
  padding-top: 11.9rem;
  padding-bottom: 17rem;
}

.s-understand_boxes .clover-container{
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.s-understand-boxes_box{
  width: 100%;
  max-width: 34.9rem;
}

.s-understand-boxes_box_content{
  padding: 4rem;
  background-color: var(--bg-article);
}

.s-understand-boxes_box_content p{
  margin: 1.3rem 0 3.2rem;
}
