/* ################ USING PAGE || HERO ############ */
.s-hero-using{
  background: url(../assets/svg/black-gradient.svg),
              url(../assets/svg/green-gradient.svg),
              url(../assets/using-clover-page-img/hero-using.png); 
  background-size: cover;
  background-position: 0% 100%, 0% 100%, 61% 0%;
}

.s-hero-using_txt{
  padding: 9.1rem 0rem;
  width: 100%;
  max-width: 59.3rem;
}

.s-hero-using_txt h1{
  color: var(--white);
  font-weight: 300;
  margin-bottom: 2.6rem;
}

/* ======= USING PAGE || TEXT CONTENT ================ */
.s-using-content{
  padding: 8.3rem 0rem;
}

.s-using-content .clover-container{
  max-width: 91rem;
  text-align: center;
}

.s-using-content .clover-container h1{
  margin-bottom: 3rem;
  margin-inline: auto;
  width: 100%;
  max-width: 59.8rem;
}

.s-using-content .clover-container p:first-of-type{
  margin-bottom: 1rem;
}

.highlight p{
  margin-top: 3rem;
  font-size: 2.6rem;
  line-height: 3rem;
}

.highlight p a.link{
  font-size: 2.6rem;
}

.arrow{
  display: none;
}





























/* ################### UNDERSTANDNG PAGE || HERO ################### */
.s-hero-understanding{
  background: url(../assets/svg/black-gradient.svg),
              url(../assets/svg/green-gradient.svg),
              url(../assets/understanding-page-img/hero-understanding.png);
  background-size: cover;
  background-position: 0% 100%, 0% 100%, 61% 0%;
}

.s-hero-understanding_txt{
  padding: 8.5rem 0rem;
  width: 100%;
  max-width: 52rem;
}

.s-hero-understanding_txt h1{
  color: var(--white);
}

.s-hero-understanding_txt p{
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 2.6rem;
}



/* ========== UNDERSTANDING || WHAT IS DATA SECURITY======= */
.s-understand-security{
  padding-top: 11.9rem;
}

.s-understand-security .clover-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.s-understand-security_txt{
  width: 100%;
  max-width: 51.8rem;
  padding-top: 6.5rem;
  padding-bottom: 4.4rem;
}

.s-understand-security_txt_content:not(:last-child){
  margin-bottom: 3.3rem;
}

.s-understand-security_txt_content p{
  margin-top: 1.3rem;
  font-weight: 300;
}

.s-understand-security_img{
  background: url(../assets/understanding-page-img/cashier.png) no-repeat;
  background-size: cover;
  background-position: 18% 100%;
  width: 100%;
  max-width: 54.9rem;
  min-height: 40.8rem;
}


/* ======= UNDERSTANDING || BOX OF CONTENTS ======= */
.s-understand_boxes{
  padding-top: 11.9rem;
  padding-bottom: 17rem;
}

.s-understand_boxes .clover-container{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.s-understand-boxes_box{
  width: 100%;
  max-width: 34.9rem;
}

.s-understand-boxes_box_content{
  padding: 4rem;
  background-color: var(--bg-article);
}

.s-understand-boxes_box_content p{
  margin: 1.3rem 0 3.2rem;
}

.understanding-page .s-contact-us{
  margin-top: 0rem;
}




/* ========== USING PAGE || HEADER SLIDER ========= */
.header-tabs .clover-container{
  max-width: 131.6rem;
  border: 1px solid red;
}

.header-carousel{
  border: 2px solid #ccc;
  height: 5.8rem;
  position: relative;
  overflow: hidden;
}

.header-slider{
  height: 100%;
  display: flex;
  width: 900%;
  transition: .3s;
}

.header-slider section{
  flex-basis: 3.711%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-slider section h4{
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 1.5rem;
  color: var(--font-inactive);
}

.controls .arrow-control{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 1;
}

.controls .previous{
  left: 10px;
}

.controls .next{
  right: 10px;
}

.controls .arrow-control img{
  border: 1px solid var(--green);
  padding: 0.5rem 0.7rem;
  background-color: var(--green);
}

.controls .previous img{
  transform: rotate(180deg);
}

.controls .arrow-control.inactive{
  opacity: 0.5;
  cursor: unset;
}


/* ======= USING PAGE || TABS CONTENT ============ */
.inner-tabs .clover-container{
  max-width: 131.6rem;
}

.inner-tabs-carousel{
  position: relative;
  /* overflow: hidden; */
}

.inner-tabs-slider{
  display: flex;
  width: 950%;
  transition: .3s;
}

.inner-tabs-slider section{
  flex-basis: 100%;
  /* border: 1px solid red; */
}

.bottom-controls{
  /* border: 1px solid red; */
}

.bottom-controls .clover-container{
  max-width: 131.6rem;
  display: flex;
  justify-content: space-between;
}

.bottom-controls span{
  cursor: pointer;
}
























/* ################### EDUCATION VIDEOS PAGE ############## */
.s-hero-green-template{
  background-color: var(--bg-hero);
  padding-top: 5.5rem;
  padding-bottom: 5.4rem;
}

.s-hero-green-template_txt{
  width: 100%;
  max-width: 32.6rem;
}

.s-hero-green-template_txt h1,
.s-hero-green-template_txt p{
  color: var(--font-title-hero);
}

.s-hero-green-template_txt p{
  font-size: 2.2rem;
  margin-top: 0.6rem;
  line-height: 2.6rem;
}

/* ======= VIDEOS PAGE || VIDEOS =========*/
.s-videos{
  padding-top: 9.5rem;
  padding-bottom: 17rem;
}

.s-videos .clover-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.video-box{
  width: 100%;
  max-width: 51.8rem;
}

.apply-margin{
  margin-bottom: 7rem;
}

.video-box-img button{
  position: relative;
  border: none;
}

.play-icon{
  position: absolute;
  right: 2.1rem;
  top: 1.5rem;
}

.video-box-txt h3{
  margin: 3.3rem 0 1.7rem;
  line-height: 3rem;
}

/* ========== MODAL // VIDEOS ========== */
.modal-content{
  background-color: transparent;
}

/* CLOSE MODAL BUTTON */
/* .btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: red;
  background: transparent url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
} */




















/* ################ EDUCATION ARTICLES PAGE ############### */
.s-hero-education-articles .s-hero-green-template_txt{
  max-width: 34.1rem;
}

.s-education-articles{
  padding-top: 9.5rem;
  padding-bottom: 10rem;
}

.s-education-articles .clover-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article{
  width: 100%;
  max-width: 34.9rem;
  min-height: 50.4rem;
  margin-bottom: 7rem;
  gap: 1.6rem;
}

.article h4{
  margin: 2.6rem 0 1.7rem;
}

.article a{
  color: var(--green);
  font-weight: 500;
  margin-top: 1.7rem;
  display: inline-block;
  font-size: 1.8rem;
}





















/* ############# ARTICLE PAGE ################# */
.s-hero-green-template_txt{
  max-width: 78.1rem;
}

.s-hero-article-content .clover-container{
  padding-left: 11rem;
  margin: 0;
} 

.article-page-grid{
  display: grid;
  grid-template-columns: 1fr 28.15rem;
  grid-template-rows: 12.1rem auto 1fr;
  grid-template-areas: "breadcrumb aside"
                        "article aside"
                        "next aside";
  align-items: start;
}

/* ======= ARTICLES PAGE || ASIDE ========= */
aside{
  grid-area: aside;
  width: 100%;
  min-height: 28rem;
  /* max-width: 28.15rem; */
  position: sticky;
  right: 16rem;
  top: 30%;
  margin-left: auto;
  margin-top: 7.7rem;
}

.aside-header a{
  font-weight: 400;
  display: inline-block;
  margin-bottom: 1.65rem;
}

.aside-header a img{
  display: none;
  transition: .2s;
}

.aside-header a img.rotate-icon{
  transform: rotate(180deg);
}

.aside-articles{
  position: relative;
}

.aside-articles_list::before{
  content: '';
  width: 4px;
  height: 100%;
  left: 0;
  background-color: #EDEDED;
  position: absolute;
}

ul.aside-articles_list li a{
  font-weight: 400;
  display: inline-block;
  margin-left: 1.65rem;
  padding-top: 1rem;
}

ul.aside-articles_list li a:last-child{
  padding-bottom: 1rem;
}

ul.aside-articles_list li a:not(:last-child){
  margin-bottom: 1.3rem;
}

ul.aside-articles_list li a.active{
  font-weight: 500;
}

ul.aside-articles_list li a.active::before{
  content: '';
  width: 4px;
  height: 7rem;
  position: absolute;
  left: 0;
  top: 0rem;
  background-color: var(--green);
}

main.articleTwo ul.aside-articles_list li a.active::before{
  height: 5rem;
  top: 6.5rem;
}

main.articleThree ul.aside-articles_list li a.active::before{
  height: 6rem;
  top: 11.5rem;
}

main.articleFour ul.aside-articles_list li a.active::before{
  height: 5rem;
  top: 17.5rem;
}

main.articleFive ul.aside-articles_list li a.active::before{
  height: 5rem;
  top: 22rem;
}

/* =======ARTICLE | BREADCRUMBS ========== */
.breadcrumbs{
  padding-top: 7.7rem;
  padding-bottom: 3.1rem;
  grid-area: breadcrumb;
  position: sticky;
}

.breadcrumbs .clover-container{
  margin-left: 0rem;
  padding: 0 0 0 4.9rem;
}

.breadcrumbs nav{
  width: 100%;
  /* max-width: 57.4rem; */
  /* margin-right: 33.05rem; */
  /* padding-right: 33.05rem; */
}

.breadcrumb-item a{ 
  color: var(--green);
  font-size: 1.3rem;
  font-weight: 400;
}

.breadcrumbs li{
  font-size: 1.3rem;
  font-weight: 400;
}

.breadcrumb-item.active{
  color: var(--black);
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url(../assets/svg/breadcrumb-icon.svg);
  padding: 0 0.9rem;
}



/* ============ ARTICLE PAGE || TEXT ========= */
.s-article-text{
  width: 100%;
  max-width: 83.2rem;
  grid-area: article;
}

.s-article-text .clover-container{
  /* max-width: 83.2rem; */
  max-width: unset;
  /* padding: 0 4.9rem 10.8rem 4.9rem; */
  padding-left: 4.9rem;
  margin: 0;
}

.s-article-text .clover-container img{
  margin-bottom: 5.7rem;
}

.article-content{
  margin-right: 2rem;
}

.article-content h2{
  color: var(--green);
  margin-bottom: 1rem;
  font-size: 2.8rem;
}

.article-content h2{
  margin-top: 4rem;
}

h2.no-margin-top{
  margin-top: 0;
}

.article-content p{
  font-weight: 400;
}

.article-p-mobile{
  padding-bottom: 10.8rem;
}

.article-content ul{
  margin-left: 1.5rem;
}

.article-content ul li{
  list-style: disc;
  font-weight: 400;
  margin-top: 1rem;
}

.article-content ul li::marker{
  color: var(--green);
}

main.articleThree .article-content p:not(:last-child){
  margin-bottom: 1.6rem;
}

/* ====== ARTICLE PAGE || PREVIOUS NEXT ========== */
.previous-next-mobile{
  display: none;
}

.previous-next{
  width: 100%;
  max-width: 80.2rem;
  grid-area: next;
  padding: 0rem;
  /* border: 1px solid red; */
  width: 100%;
}

.previous-next .clover-container{
  border-top: 1.5px solid #EDEDED;
  padding: 2.4rem 0 17.1rem;
  display: flex;
  justify-content: space-between;
}

.previous-next a{
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--green);
  transition: .2s;
}

.previous-next a:hover{
  color: var(--link-hover);
}

.previous-next a.inactive-link{
  color: var(--font-inactive);
  cursor: unset;
}























/* ########### USEFUL LINKS PAGE ############## */
.s-hero-useful-links .s-hero-green-template_txt{
  max-width: 84.6rem;
}

.s-links{
  padding-top: 9.5rem;
  padding-bottom: 17rem;
}

.s-links .clover-container{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.s-links .article{
  min-height: auto;
  margin-bottom: 0rem;
}